body {
    margin: 0px;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #e3ebf1 0%, #ecf4ff 100%);
}

main {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

/* ---------- HEADER ---------- */

header {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    box-shadow: 0 0 100px 2px rgb(255, 255, 255);
    padding-bottom: 30px;
    border-radius: 50px;
}

/* ---------- NAVBAR ---------- */

.navbar-tel {
    display: none;
}

nav {
    display: flex;
    justify-content: space-around;
    background: #363636;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    display: flex;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
}

.logo img {
    width: 40px;
    height: 40px;
    padding: 17px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a {
    color: #fff;
    margin: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    
}

.navbar a:hover {
    color:#d1d1d1 ;
}

/* ---------- INTRODUCTION ---------- */

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
}

.intro-text {
    margin-left: 60px;
}

.intro-text h1{
    font-size: 2.5em;
}

.kontakt {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.kontakt a {
    text-decoration: none;
    color: black;
}

.kontakt-link {
    font-size: 1.0em;
    text-align: center;
}

.kontakt-logo {
    width: 50px;
    height: 50px;
}

/* ---------- SECTIONS ---------- */

section {
    font-size: 1.5em;
}

section h1{
    font-weight: bold;
    font-size: 2em;
}

#wyksztalcenie div {
    background-color: rgba(255, 255, 255, 0.351);
    padding: 30px;
    border-radius: 20px;
    margin: 50px;
}

#wyksztalcenie h1 {
    text-align: center;
}

#umiejetnosci {
    border-top: #000000 2px solid;
    border-radius: 20px;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;;
}

#umiejetnosci ul{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

#umiejetnosci li {
    width: 240px;
    margin: 50px;
    padding: 10px 20px 20px 20px;
    background-color: #0088ff35;
    border-radius: 20px;
    list-style-type: none;
    box-shadow: 0 0 100px 2px #0088ff35;
}

#oferta{
    margin-left: 250px;
    margin-right: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}

#oferta h1, h3{
    text-align: center;
}
#oferta button {
    background-color: rgb(55, 142, 255);
    margin:20px;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2em;
}

.oferta{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

#strona, #automatyzacja {
    background: #0088ff35;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 20px;
    width: 350px;
    box-shadow: 0 0 100px 2px #0088ff35;

}

.oferta-pracodawca div{
    background: #0088ff35;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 0 100px 2px #0088ff35;
    max-width: 1000px;
}

.oferta img{
    width: 40px;
    height: 40px;
}

#oferta-strona-header, #oferta-automatyzacja-header {
    display: flex;
    align-items: center;
    gap: 20px;
}


/* ---------- FOOTER ---------- */

footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
    font-size: 0.95em;
}


@media (max-width: 850px) {
    .intro {
        flex-direction: column;
        align-items: center;
    }

    .kontakt {
        gap: 30px;
    }

    .oferta {
        flex-direction: column;
    }

    .navbar-pc {
        display: none;
    }

    .navbar-tel {
        display: flex;
        flex-direction: column;
        background-color: white;
        color: grey
    }

    .menu-ikona {
        font-size: 3em;
        padding: 10px;
        cursor: pointer;
        position: absolute;
        top:0px;
        right: 0px;
    }

    .menu{
        display: none;
        margin-top:70px;
        list-style: none;
        text-align: right;
        margin-right: 50px;
    }

    .menu a {
        text-decoration: none;
        color: black;
        font-size: 1.5em;
        margin-top:10px;
        font-weight: bold;
    }

    .menu li {
        margin: 15px 0;
    }

    .menu.active {
        display:flex;
        flex-direction: column;
    }

    #umiejetnosci {
        border-bottom: none;
        border-top: none;
    }


}